*{
    padding: 0;
    margin: 0;
    
}

.container{
    
    width: 100%;
    overflow: hidden;
 
}
 /* Header section */
.parent{
    display: flex;
    
 }

.logo{
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
    
}
.contact{
   
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    margin-right: 50px;
    

    
    
}
.contact h4{
    color: maroon;
    font-size: 27px;
    font-weight: 900;
}

.hrz{
    
    height: 3px;
    width: 96%;
    margin: 5px 0 5PX 7PX ;
    background-color: rgb(131, 130, 130);
}

.contact h2{
    font-size: 59px;
    letter-spacing: 2px;
    font-weight: 900;
}
.contact p{
    font-size: 25px;
    color: rgb(90, 89, 89);
}

.nav{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    
}
.navgation{
display: flex;
background-color: maroon;
justify-content: end;
align-items: center;
height: 55px;
width: 100%;
gap: 24px;
padding-right: 47px;


}
.navgation a{
    color: rgb(226, 223, 223);
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}
a:hover{
    background-color: burlywood;
    
    
}

/* middle section */

.middle{
    padding-left:25px ;
    padding-top: 25px;
    position: relative;
    border: 2px solid black;
   
}
.middle1 img{
    width: 54%;
    height: 430px;
    background: url(./gurantee_banner.gif) center / no-repeat;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    
}
.middle2{
        width: 41%;
        height: 430px;
        background-image: url(./form_bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 35px;
        top: 25px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.4);
        
}

.middle2 h2{
    background-color: maroon;
    width: 190px;
    color: white;
    padding: 7px;
    font-size: 30px;
}
.middle2 h6{
    position: absolute;
    right: 25px;
    top: 0px;
    font-size: 25px;
    font-weight: 600;
    padding-right: 30px;
    
}

.span{
    font-size: 40px;
    color: rgb(41, 41, 114);
}
.middle2 p{
    position: absolute;
    top: 90px;
    left: 30px;
    font-size: 22px;
    
}

.contact-form{
    position: relative;
    left: 30px;
    top: 100px;
    
}
.contact-form input{
    height: 22px;
    width: 220px;
}
.field{
    
    margin: 10px;
    
    
}
.textarea{
    width: 470px;
    height: 60px;
    position:absolute ;
    left: 10px;
}
.textarea textarea{
    width: 100%;
    height: 100%;
}
.img{
    position: absolute;
    right: 40px;
    top: 177px;
    transform: rotate(12deg);
    height: 47px;
}
.img img{
    width: 100%;
    height: 100%;
}

.Privacy{
   
    position: relative;
    top: 100px;
    
    
}
.Privacy p{
    font-size: 20px;
    position: absolute;
    color: rgb(124, 124, 124);
    left: 20px;
}
.Privacy button{
    position: absolute;
    top: 80px;
    right: 42px;
    font-size: 20px;
    font-weight: 600;
    width: 275px;
    height: 45px;
    color: rgb(248, 247, 247);
    background-color: rgb(173, 3, 3);
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);
    border: none;
    
}
.Privacy button img{
    padding-left: 5px;
}
    /* Third section */

.third-section{
        width: 100%;
        margin-top: 35px;
        display: flex;
        flex-direction: row;
        gap: 0px;
        /* border: 2px solid black; */
        

}
        /* third left */
 .third-left{
    width:400px;
    padding-top: 25px;
    padding-left: 28px;
    position: relative;
    border-right: 1px solid #ccc;
}
.third-left h3{
    font-size: 28px;
}
.third-left h3 span{
    color: maroon;
}
.third-left h4{
    font-size: 20px;
    color: maroon;
}
.pera1{
    font-size: 20px;
    margin-top: 15px;
}
.pera2{
    font-size: 20px;
    margin-top: 15px;
}
.img-left img{
    width: 90px;
    height: 130px;
    position: absolute;
    left: 290px;
    top: 85px;
} 
.hr{
    width: 210px;
    position: absolute;
    left: 150px;
    margin-top: 10px;
}
.btn button{
    position: absolute;
    margin-top: 10px;
    left: 210px;
    height: 30px;
    width: 140px;
    background-color: rgb(160, 28, 28);
    color: white;
    box-shadow: 0 10px 10px rgba(0,0,0,0.6);
}
.btn button img{
    margin-left: 5px;
    margin-top: 3px;
}

                /* third middle */

            
 
.third-middle{
    position: relative;
    width: 470px;
    /* border: 1px solid black; */
    margin-left: 25px;
}
.middle-uper{
    /* width: 100%; */
}
.middle-uper h3{
    font-size: 25px;
    margin-top: 25px;
}
.middle-uper h3 span{
    color: maroon;
}
.middle-uper p{
    font-size: 20px;
}
.middle-uper-img img{
    position: absolute;
    left: 280px;
    top: 25px;
    width: 170px;
    height: 100px;
}
.middle-uper-hr{
    width: 210px;
    margin-top: 10px;
    margin-left: 50px;
}
.middle-uper-btn button{
    position: absolute;
    left: 110px;
    height: 30px;
    width: 140px;
    background-color: rgb(160, 28, 28);
    color: white;
    box-shadow: 0 10px 10px rgba(0,0,0,0.6);
    margin-top: -1px;
}
/* third-middle-down */
.middle-down{
    position: relative;
    top: 50px;
    /* border: 1px solid black; */
}
.middle-down h3{
    font-size: 25px;
}
.middle-down h3 span{
    color: maroon;
}
.third-right-pera{
    display: flex;
    flex-direction: column;
}
.middle-down-img img{
    position: absolute;
    width: 180px;
    height: 120px;
    left: 270px;
    top: -10px;
}
.middle-down-hr{
    width: 210px;
    position: absolute;
    left: 60px;
    margin-top: 28px;
}
.middle-down-btn button{
    position: absolute;
    left: 110px;
    width: 140px;
    height: 30px;
    background-color: rgb(160, 28, 28);
    color: white;
    box-shadow: 0 10px 10px rgba(0,0,0,0.6);
    margin-top: 28px;
}
        /* third right  */

.third-right{
    position: relative;
    
}
.qqq-img img{
        position: absolute;
        top: 20px;
        left: 50px;
        width: 120px;
        height: 100px;
}
.national-img img{
    position: absolute;
    left: 180px;
    top: 15px;
    height: 110px;
    width: 105px;
}
.third-right h3{
    position: absolute;
    font-size: 25px;
    top: 130px;
    left: 40px;
}
.third-right h3 span{
    color: maroon;
}
.third-right p{
    position: absolute;
     /* top: 150px; */
    /* left: 50px; */
}
.right-hr{
    position: absolute;
    width: 210px;
    top: 220px;
    left: 80px;
}
.right-btn button{
    position: absolute;
    left: 250px;
    top: 220px;
    height: 30px;
    width: 140px;
    background-color: rgb(160, 28, 28);
    color: white;
}
/* Underline */

.underline{
    width: 100%;
    
    margin-left: 150px;
    margin-top: 110px;
}
/* fourth section */
.sidebar{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
                /* side-bar left */
.sidebar-left{
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

.icon-top{
    margin-top: 5px;
    font-size: 25px;
}
.icon-top span{
    color: maroon;
}
.icon{
    background-color: rgb(136, 126, 126);
    height: 70px;
    
    margin-top: 20px;
    width: 280px;
    box-shadow: 0 10px 5px rgba(0,0,0,0.4);
    flex-direction: column;
    
    
    

}
.icon-img{
    height: 70px;
}
.icon-h{
    color: rgb(255, 255, 255);
    margin-left: 5px;
    font-size: 35px;
    margin-top: -70px;
    padding: 5px 0 0 10px;
    
    
}
.icon-bul{
    
    color: white;
    margin-left: 160px;
    font-size: 15px;
}
.icon-bul button{
    background-color: rgb(136, 126, 126);
    border: none;
    color: white;
    
    margin:15px 10px 0 0; 
}
.icon-bul img{
    margin-bottom: -2px;
    height: 13px;
    margin-left: 5px;
    
}

.bottom{
    margin-top: 50px;
    font-weight: 900;
    font-size: 21px;
    
}
.bottom span{
    color: maroon;
}

/* sidebar middle */

.sidebar-middle{
    width: 60%;
    margin-left: 60px;
    padding-right: 30px;
}
.sidebar-middle h1{
    font-size: 38px;
}
.sidebar-middle p{
    margin-top: 30px;
    line-height: 1.5;
    font-size: 17px;
}

/* sidebar right */

.right-icon{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 35px;
}
.right-icon h2{
    margin-top: 10px;
    font-size: 27px;
    color: rgb(78, 78, 78);
}
.right-icon span{
            color: maroon;
}
.right-icon p{
    font-size: 20px;
}
.hrz{
    width: 200px;
    border: none;
    
}
.right-icon button{
    background-color: rgb(167, 38, 38);
    color: white;
    height: 30px;
    width: 120px;
    border: none;
    font-size: 15px;
    margin-left: 45px;
    margin-top: -5px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.6);
}
.right-icon button img{
    margin-left: 5px;
    margin-top: 5px;
}
.right-icon{
    position: relative;
    top: 10px;
    border: 1px solid black;
}
