*{
    padding: 0;
    margin: 0;
}

.container{
    
    width: 100%;
    max-width: 100%;
 
}
 /* Header section */
.parent{
    display: flex;
    /* height: 500px; */
    
    
 }
.logo{
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
    
}
.contact{
   
    display: flex;
    flex-direction: column;
    padding-right: 0px;
    margin-right: 50px;
    

    
    
}
.contact h4{
    color: maroon;
    font-size: 27px;
    font-weight: 900;
}

.hrz{
    
    height: 3px;
    width: 96%;
    margin: 5px 0 5PX 7PX ;
    background-color: rgb(131, 130, 130);
}

.contact h2{
    font-size: 59px;
    letter-spacing: 2px;
    font-weight: 900;
}
.contact p{
    font-size: 25px;
    color: rgb(90, 89, 89);
}

.nav{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    
}
.navgation{
display: flex;
background-color: maroon;
justify-content: end;
align-items: center;
height: 55px;
width: 100%;
gap: 24px;
padding-right: 47px;


}
.navgation a{
    color: rgb(226, 223, 223);
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}
a:hover{
    background-color: burlywood;
    
    
}

/* middle section */

.middle{
    padding-left:25px ;
    padding-top: 25px;
    position: relative;
   
}
.middle1 img{
    width: 54%;
    height: 430px;
    background: url(./gurantee_banner.gif) center / no-repeat;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
    
}
.middle2{
        width: 41%;
        height: 430px;
        background-image: url(./form_bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 35px;
        top: 25px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.4);
        
}

.middle2 h2{
    background-color: maroon;
    width: 190px;
    color: white;
    padding: 7px;
    font-size: 30px;
}
.middle2 h6{
    position: absolute;
    right: 25px;
    top: 0px;
    font-size: 25px;
    font-weight: 600;
    padding-right: 30px;
    
}

.span{
    font-size: 40px;
    color: rgb(41, 41, 114);
}
.middle2 p{
    position: absolute;
    top: 90px;
    left: 30px;
    font-size: 22px;
    
}

.contact-form{
    position: relative;
    left: 30px;
    top: 100px;
    
}
.contact-form input{
    height: 22px;
    width: 220px;
}
.field{
    
    margin: 10px;
    
    
}
.textarea{
    width: 470px;
    height: 60px;
    position:absolute ;
    left: 10px;
}
.textarea textarea{
    width: 100%;
    height: 100%;
}
.img{
    position: absolute;
    right: 40px;
    top: 177px;
    transform: rotate(12deg);
    height: 47px;
}
.img img{
    width: 100%;
    height: 100%;
}

.Privacy{
   
    position: relative;
    top: 100px;
    
    
}
.Privacy p{
    font-size: 20px;
    position: absolute;
    color: rgb(124, 124, 124);
    left: 20px;
}
.Privacy button{
    position: absolute;
    top: 80px;
    right: 42px;
    font-size: 20px;
    font-weight: 600;
    width: 275px;
    height: 45px;
    color: rgb(248, 247, 247);
    background-color: rgb(173, 3, 3);
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);
    border: none;
    
}
.Privacy button img{
    padding-left: 5px;
}
    /* Third section */

.third-section{
        width: 100%;
        margin-top: 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

}
.third-left{
    width: 30%;
    padding-top: 25px;
    padding-left: 28px;
    
    position: relative;
    
}

.third-left h3{
    font-size: 28px;
    color: rgb(78, 78, 78);
}
.third-left h3 span{
    color: maroon;
}
.third-left h4{
    color: maroon;
    padding-left: 2px;
    font-size: 20px;
}
.pera1{
    font-size: 22px;
    font-weight: 80;
    margin-bottom: 20px;
    margin-top: 15px;
    
}
.pera2{
    font-size: 22px;
    font-weight: 80;
    
}

.img-left img{
    position: absolute;
    top: 80px;
    left: 300px;
    width: 120px;
    height: 160px;
    
    
}
.btn button{
    position: absolute;
    width: 150px;
    height: 30px;
    background-color: rgb(170, 16, 16);
    left: 250px;
    margin-top: 15px;
    color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.6);

}
.hr{
    width: 230px;
    position: absolute;
    left: 190px;
    margin-top: 15px;
    
}
.btn img{
    position: absolute;
    width: 15px;
    height: 15px;
}
/* third middle */
.third-middle{
    
    width: 30%;
    padding-top: 25px;
    padding-left: 28px;
    
    position: relative;
}
.middle-uper{
    position: absolute;
    margin-left: 10px;
}

.middle-uper img{
    position: absolute;
    left: 200px;
    top: -70px;
    width: 200px;
    
}
.middle-uper h3{
    font-size: 29px;
    color: rgb(78, 78, 78);
}
.middle-uper p{
    font-size: 18px;
    font-weight: 100;
}

.middle-uper span{
    color: maroon;
}
.middle-down{
    position: absolute;
    top: 150px;
    margin-top: 45px;
    
}
.middle-down h3{
    font-size: 25px;
    color: rgb(78, 78, 78);
}
.middle-down span{
    color: maroon;
}
.middle-down p{
    font-size: 22px;
}
.middle-down img{
    position: absolute;
    width: 180px;
    margin-left: 260px;
    top: -10px;
}

.third-right{
     width: 30%;
    padding-top: 30px;
    /* padding-left: 28px; */
    position: relative;
    /* left: 30px; */
}
.qqq-img img{
    width: 130px;
    position: absolute;
    top: 40px;
    /* left:50px */
    
}
.national-img img{
    position: absolute;
    left: 150px;
    width: 110px;
}
.third-right h3{
    position: absolute;
    top:150px;
    font-size: 25px;
    margin-top: 10px;
    left: -18px;
}
.third-right h3 span{
    color: maroon;
    
}
.third-right p{
    position: absolute;
    top: 230px;
    font-size: 18px;
    left: -15px;
}

/* Underline */

.underline{
    width: 100%;
    /* height: 35px; */
    margin-left: 150px;
    margin-top: 110px;
}
/* fourth section */
.sidebar{
    margin-top: 110px;
    display: flex;
    flex-direction: row;
}

.sidebar-left{
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

.icon-top{
    margin-top: 50px;
    font-size: 25px;
}
.icon-top span{
    color: maroon;
}
.icon{
    background-color: rgb(136, 126, 126);
    height: 60px;
    margin-top: 20px;
    width: 300px;
    box-shadow: 0 10px 5px rgba(0,0,0,0.4);
    display: flex
    

}
.icon-img{
    height: 60px;
}
.icon-h{
    color: rgb(255, 255, 255);
    margin-left: 5px;
    font-size: 20px;
    font-weight: 100;
    
}
.icon-bul{
    align-self: flex-end;
    color: white;
    margin-right: 20px;
    font-size: 15px;
    
}
.icon-bul img{
    margin-bottom: -2px;
    height: 13px;
    margin-left: 5px;
    
}

.bottom{
    margin-top: 35px;
    font-size: 23px;
    font-weight: 150;
}
.bottom span{
    color: maroon;
}

/* sidebar middle */

.sidebar-middle{
    
    margin-left: 120px;
}

/* sidebar right */

.right-icon{

}
.right-icon h2{
    margin-top: 10px;
    line-height: 30px;
}
.right-icon span{
            color: maroon;
}
.right-icon button{
    background-color: rgb(179, 35, 35);
    color: white;
    height: 20px;
    width: 120px;
    font-size: 15px;
}

.right-law-icon{
    margin: 20px;
}